@import 'base/fonts';
@import "blocks/card";

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  //background: linear-gradient(90deg, #1d0501 33.72%, #dc983e 100%);

}
.container {
  max-width: 1761px;
  width: 91.72%;
  margin: 0 auto;

}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.br {
  display: none;
}
button{
  cursor: pointer;
}
@import "blocks/title";
@import "blocks/button";
@import 'blocks/header';
@import "blocks/daridych";
@import "blocks/footer";
@import 'media/general';