.title {
	color: #FFF9BE;
	font-weight: 500;
	&_64{
		font-size: 64px;
	}
	&_55{
		font-size: 55px;
	}
	&_32{
		font-size: 32px;
	}
	&_24{
		font-size: 24px;
	}
	&_20{
		font-size: 20px;
	}
}
.extra_bold {
	font-weight: 800;
}
.semi-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
